.sideBar .logo h3::before{
    border-top: 3px solid #ec1839;
    border-left: 3px solid #ec1839;
}
.sideBar .logo h3::after{
    border-bottom: 3px solid #ec1839;
    border-right: 3px solid #ec1839;
}

.project .filter button:hover,
.project .filter .active,
.skill .skill-item .skill-item-content .icon .fa,
.row .about-text h3 span,
.sideBar .navbar li a:hover,
.sideBar .navbar li .active{
   color: #ec1839;
}
.skill .skill-item .skill-item-content:hover .icon,
.home .intro .social-media-links a,
.title h2::before,
.title h2::after,
.sideBar .navbar-btn span,
.sideBar .navbar-btn span::before,
.sideBar .navbar-btn span::after{
    background-color: #ec1839;
}
.project .filter .active,
.project .filter button:hover{
    border-color: #ec1839;
}

