.sideBar .logo h3::before {
  border-top: 3px solid #ffb400;
  border-left: 3px solid #ffb400;
}
.sideBar .logo h3::after {
  border-bottom: 3px solid #ffb400;
  border-right: 3px solid #ffb400;
}

.skill .skill-item .skill-item-content .icon i,
.project .project-item .project-title,
.row .about-text h3 span,
.sideBar .navbar li a:hover,
.sideBar .navbar li .active {
  color: #ffb400;
}
.project .project-item .project-info a,
.skill .skill-item .skill-item-content:hover .icon,
.home .intro .btn,
.home .intro .social-media-links a,
.title h2::before,
.title h2::after,
.sideBar .navbar-btn span,
.sideBar .navbar-btn span::before,
.sideBar .navbar-btn span::after {
  background-color: #ffb400;
}
